<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>ᒪᐻᗪᐱᕮ</title>
  <meta name="description" content="ᒪᐻᗪᐱᕮ">
  <meta name="author" content="Colin Yergin">

  <link rel="stylesheet" type="text/css" href="styles.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <script src="scripts.js"></script>
  <div id="promptdiv" class="center">
    <h1 id="prompt" class="center"></h1>
  </div>
  <div id="inputdiv" class="center">
    <input type="text" class="center" id="maininput" autofocus="autofocus" onkeypress="keyPressed(event)" onkeyup="keyUp(event)">
  </div>
  <canvas id="draw" class="center" width="750" height="400"></canvas>
</body>
</html>